<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LycTech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="root">
        <div class="header">
            <a class="logo" href="/"><img src="static/images/logo.jpg"></a>
            <a class="LS" href="{{ url_for('admin.admin_main_page') }}">Вы админ, поздравляю...</a>
        </div>
        <div class="practicum">
            <p class="center-text">{{ user['name'] }} {{ user['surname'] }} {{ user['grade'] }}</p>
            <p class="center-text" style="color: gray; font-size: 2rem;">{{ user['date'] }}</p>
            <p class="center-text">Логин: {{ user['login'] }}</p>
            </div>
        <hr class="under-main">
    </div>
</body>
</html>